CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUN8I_A83T=y
CONFIG_DRAM_TYPE=7
CONFIG_DRAM_CLK=552
CONFIG_DRAM_ZQ=15355
CONFIG_DRAM_ODT_EN=y
CONFIG_MMC_SUNXI_SLOT_EXTRA=2
CONFIG_USB0_VBUS_PIN="AXP0-VBUS-ENABLE"
CONFIG_USB0_VBUS_DET="AXP0-VBUS-DETECT"
CONFIG_USB0_ID_DET="PH11"
CONFIG_AXP_GPIO=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_DEFAULT_DEVICE_TREE="sun8i-a83t-tbs-a711"
CONFIG_FASTBOOT_CMD_OEM_FORMAT=y
CONFIG_AXP_DCDC5_VOLT=1200
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_MUSB_GADGET=y
CONFIG_USB_FUNCTION_MASS_STORAGE=y
# CONFIG_SUN8I_EMAC is not set
# CONFIG_NET is not set
# CONFIG_DM_ETH is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_DHCP is not set
# CONFIG_CMD_PXE is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_MII is not set
# CONFIG_CMD_PING is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_DISTRO_DEFAULTS is not set
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_PART=y
CONFIG_HUSH_PARSER=y
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
# CONFIG_DISPLAY_BOARDINFO_LATE is not set
CONFIG_SYS_CONSOLE_INFO_QUIET=y
#CONFIG_SPL_LOGLEVEL=8
#CONFIG_LOG_CONSOLE=y
#CONFIG_LOGLEVEL=8
#CONFIG_LOG_MAX_LEVEL=7
#CONFIG_LOG=y
CONFIG_BOOTDELAY=0
CONFIG_CMD_MYDBG=y
CONFIG_AXP_GPIO_LDO0_VOLT=3100
CONFIG_CMD_I2C=y
CONFIG_DM_I2C=y
CONFIG_I2C0_ENABLE=y
CONFIG_DM_TOUCHPANEL=y
CONFIG_EDT_FT5X06_TOUCHPANEL=y
CONFIG_CMD_TOUCH=y
CONFIG_CMD_TMENU=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_PWM_SUNXI=y
CONFIG_DM_PWM=y
CONFIG_AXP_SW_ON=y
CONFIG_VIDEO_LCD_DCLK_PHASE=0
CONFIG_VIDEO_LCD_PANEL_LVDS=y
CONFIG_CMD_BMP=y
CONFIG_CMD_AXP=y
CONFIG_SYS_CLK_FREQ=1800000000
CONFIG_AXP_DCDC2_VOLT=1080
CONFIG_AXP_DCDC3_VOLT=1080
CONFIG_CMD_BOOTM=y
CONFIG_LZ4=y
CONFIG_FIT=y
# CONFIG_CMD_BOOTEFI is not set
# CONFIG_EFI_PARTITION is not set
# CONFIG_EFI_LOADER is not set
# CONFIG_CMD_NVEDIT_EFI is not set
# CONFIG_PRE_CONSOLE_BUFFER is not set
# CONFIG_SERIAL_PRESENT is not set
# CONFIG_SPL_SERIAL_PRESENT is not set
# CONFIG_SPL_BANNER_PRINT is not set
# CONFIG_SPL_DISPLAY_PRINT is not set
# CONFIG_VIDEO_DE2 #is not set
CONFIG_FIXUP_BDADDR="brcm,bcm20702a1"
